//General - Start
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

//Colors
$dark: #0f0f0f;
$accent: #3e92cc;
$gray: #575757;
$gray-light: #6d6d6d;
$gray-dark: #333333;
$light: #f0f8ff;
$light-Background: #f2f2f2;
$header-Shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  color: $gray-light !important;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
.btn {
  border-radius: 20px;
  background-color: $accent !important;
}
.content-text {
  h1,
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
//General - End
//Header - Start
.header {
  background-color: $gray-dark;
  box-shadow: $header-Shadow;

  &__navigation {
    background-color: transparent;
    box-shadow: none;

    .sidenav {
      background-color: $gray-dark !important;

      li a {
        color: $light !important;
      }
    }
  }
}
//Header - End
// About - Start
.about {
  margin-top: 100px;
  img {
    max-width: 100%;
  }
}
//About - End
//Timer _ Start
.timer {
  margin-top: 160px;
  margin-bottom: 160px;

  .content-text {
    margin-bottom: 100px;
  }
  &__form {
    &-inputs {
      @include flex-row();
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      & .input-field {
        width: 20%;

        input {
          border: none !important;
          border-radius: 30px;
          text-align: center;
          margin-top: 5px;
          border: 2px solid $gray-light !important;
        }
      }
    }
    &-span {
      font-weight: 700;
      min-width: 15%;
      text-align: center;
    }
    &-buttons {
      margin-top: 10px;
    }
  }

  &__output {
    display: block;
    margin-top: 100px;
    font-weight: 500;
    font-size: 32px;
    color: $gray;
    text-align: center;
  }
}
//Timer - End
//Footer - Start
.footer {
  background-color: $light-Background !important;

  &__wrap {
    h5 {
      color: $gray !important;
    }
    li,
    a {
      color: $gray-light !important;
      transition: all 0.5s ease;
    }
  }
  &__hr {
    height: 2px;
    max-width: 90%;
    background-color: $gray-light;
    border: none;
  }
  &-copyright {
    display: block !important;
    background-color: transparent !important;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: $gray !important;
  }
  li a:hover {
    border-bottom: 1px solid $gray-light;
    color: $dark !important;
    font-size: 16px;
  }
}
//Footer - End
//Media queries
@media screen and (max-width: 992px) {
  //Small screen
  .about {
    &__wrap {
      flex-direction: column-reverse;
    }
    &__image {
      max-width: 60% !important;
    }
  }
}
